.Home {
    z-index: 1;
    object-fit: contain;
}

.header {
    background-color: rgb(38, 156, 240);
    height: 3.2em;
    box-shadow: 4px 8px rgb(67, 140, 212);
}
.active{
    background-color: rgb(143, 198, 233);
}

.log_button {
    float: right;
    padding: .39em 2.5em;
    border: none;
    box-shadow: 3px 6px #a3ccef;
    outline: none;
    cursor: pointer;
    background-color: rgb(143, 198, 233);
    border-radius: 4px;
}
.log_button:hover{
    background-color: rgb(105, 105, 206);
    box-shadow: 3px 6px rgb(106, 106, 193);
    border-radius: 8px;
}

.searchInput {
    float: right;
    width: 20em;
    height: 2.5em;
    outline: none;
}

.r_icon {
    text-align: left;
    height: 15%;
    padding: 1em;
}

.links {
    /* display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: row flex-end; */
    outline: none;
    white-space: 13px;
    z-index: 1;
}

.links>button {
    outline: none;
    border: 1px solid rgb(88, 146, 213);
    background-color: rgb(38, 155, 214);
    padding: .5% 4%;
    margin-top: .5em;
}
.icon_image{
    border-radius: 30%;
    height: 2em;
    width: 7em;
}
.home_layout{
    display: flex;
    flex-direction: row;
    justify-content: row flex-end;
    padding: .5%;
    margin: 15px;
    width: 97%;
    background-color: rgb(215, 243, 250);
    box-shadow: 0px 0px  9px 5px #444446;
    z-index: 1;
}
.links > button:hover{
    background-color: rgb(143, 198, 233);
}
.footNote{
    position: static;
    font-family:"italics"; 
    bottom: 8px;
    left: 16px;
    font-size: small;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    box-shadow: 5px 15px black;
}